$margins: (
    0: 0,
    1px: 1px,
    2px: 2px,
    3px: 3px,
    4px: 4px,
    5px: 5px,

    1: 0.25rem,
    2: 0.5rem,
    3: 1rem
);

@each $name, $margin in $margins {
    .m-#{$name} {
        margin: $margin;
    }

    .mt-#{$name} {
        margin-top: $margin;
    }

    .mr-#{$name} {
        margin-right: $margin;
    }

    .mb-#{$name} {
        margin-bottom: $margin;
    }

    .ml-#{$name} {
        margin-left: $margin;
    }
}
