$begin-columns: 600px;

$num_columns: 12;
$content_width: 40rem;
@mixin global_grid {
	display: grid;

	grid-template-columns:
		[full-start]
		$line-rem
		[content-col content half-bleed sidebar article sidenotes] 8fr
		$line-rem
		[full-end];
	grid-column-gap: 0;

	@include breakpoint($begin-columns) {
		grid-template-columns:
		[full-start] 
			minmax(0.5rem, 1fr)
			[content-start content-col sidebar-start]
				minmax(min-content, $content_width/$num_columns)
			[half-bleed-start content-col]
				minmax(min-content, $content_width/$num_columns)
			[sidebar-end article-start]
				repeat(8, [content-col] minmax(min-content, $content_width/$num_columns))
			[article-end content-col sidenotes-start]
				minmax(min-content, $content_width/$num_columns)
			[half-bleed-end content-col]
				minmax(min-content, $content_width/$num_columns)
			[sidenotes-end content-end]
			minmax(0.5rem, 1fr)
		[full-end];
		grid-column-gap: $line-rem;
	}

    grid-template-rows: min-content 1fr [footer] auto;
	align-items: baseline;

	.content {
		grid-column: content;
	}
}
