$begin-columns: 600px;
@mixin global_grid {
	display: grid;

	grid-template-columns:
		[full-start]
		$line-rem
		[content-col content half-bleed sidebar article sidenotes] 8fr
		$line-rem
		[full-end];
	grid-column-gap: 0;

	@include breakpoint($begin-columns) {
		$column-gap: $line-height;

		grid-template-columns:
		[full-start] 
			minmax(0.5rem, 1fr)
			[content-start content-col sidebar-start]
				minmax(min-content, 6%)
			[half-bleed-start content-col]
				minmax(min-content, 6%)
			[sidebar-end article-start content-col]
				minmax(25%, 35rem)
			[article-end content-col sidenotes-start]
				minmax(min-content, 8%)
			[half-bleed-end content-col]
				minmax(min-content, 8%)
			[sidenotes-end content-end]
			minmax(0.5rem, 1fr)
		[full-end];
		grid-column-gap: $column-gap;
	}

    grid-template-rows: min-content 1fr [footer] auto;
	align-items: baseline;

	.content {
		grid-column: content;
	}
}
