// Footnotes first paragraph shouldn't break because of the list item
.footnotes,
.references {
	li {
		list-style-position: outside;
	}

	li + li {
		margin-top: $line-rem;
	}
}

 // cheat to align baselines
@include breakpoint($begin-columns) {
	body.page {
		article h1 {
			margin-top: 12px;
			margin-bottom: 18px;
		}

		article .alert:first-of-type {
			margin-top: -$line-rem;
		}
	}
}

// Cheat the bottom margin so that sidenotes are correctly aligned?
// Why sure!
.sidenote {
	@include breakpoint($begin-columns) {
		// I'm under no delusions that this is robust.
		// Keep your sidenotes short please.
		margin-bottom: -55vh;
	}
}

// Correct for rounding errors, which only seem to be a problem for h2s:
h2 {
	line-height: $line-height;
}

// Menu button floats right. Align it with the baseline.
body.page #menu_button {
	margin-top: calc(-0.5rem + 4px);
}