// Footnotes first paragraph shouldn't break because of the list item
.footnotes,
.references {
	li {
		list-style-position: outside;
	}

	li + li {
		margin-top: $line-rem;
	}
}

 // cheat to align baselines
@include breakpoint($begin-columns) {
	body.page {
		header nav {
			// margin-top: 13px;
		}

		.sidebar {
			// margin-top: $line-height * 2;
		}

		article h1 {
			margin-top: 32px;
			margin-bottom: 20px;
		}
	}
}

// Cheat the bottom margin so that sidenotes are correctly aligned?
// Why sure!
.sidenote {
	@include breakpoint($begin-columns) {
		// I'm under no delusions that this is robust.
		// Keep your sidenotes short please.
		margin-bottom: -50vh;
	}
}