// Footnotes first paragraph shouldn't break because of the list item
.footnotes,
.references {
	li {
		list-style-position: outside;
	}

	li + li {
		margin-top: $line-rem;
	}
}

 // cheat to align baselines
@include breakpoint($begin-columns) {
	body.page {
		header nav {
			//margin-top: 13px;
		}

		.sidebar {
			margin-top: $line-height * 2;
		}
	}
}