// Debug:
body {
	// background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='29'> <line x1='0' y1='29' x2='5' y2='29' stroke='black' stroke-opacity='0.2'/></svg>") !important;
}

// Design to a line height of 16 * 1.625 = 26px;
$base-font-size: 18px;
$line-height: 29px;
$line-rem: 1rem * $line-height / $base-font-size;
html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $base-font-size;
	line-height: $line-height / $base-font-size;
}

// https://github.com/sass/sass/issues/533
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@mixin rhythm-font-size($size_rem, $line-height-lines: 1) {
	font-size: $size_rem;
	line-height: ($line-height-lines * $line-height) / (strip-units($size_rem) * $base-font-size);
}

$link_color: #2f6bcc;
$link_hover_color: darken($link_color, 20%);
a {
	// text-decoration: none;

	color: $link_color;
	transition: all 0.1s;

	&:hover, &:focus {
		text-decoration: underline;

		color: $link_hover_color;
		transition: all 0s;
	}

	&:visited {
		color: $link_color;

		&:hover, &:focus {
			color: $link_hover_color;
		}
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

blockquote {
	border-left: 0.2rem solid rebeccapurple;
	margin: 0;

	// rebeccapurple, but translucent:
	background: rgba(102, 50, 155, 0.1);
	padding: $line-rem;
	padding-left: $line-rem - 0.2rem;
}

code {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", "Monaco", "Courier New", serif;
	font-size: (0.9 * $base-font-size);
	background: rgba(0,0,0,0.1);
	padding: 0.2rem;
}

p {
	margin: 0;
}

%reflows-typography {
	& + blockquote,
	& + p,
	& + ol,
	& + ul {
		margin-top: $line-rem;
	}
}

blockquote,
p,
ol,
ul,
.sidenote {
	@extend %reflows-typography;
}

.pullquote {
	// @include rhythm-font-size(1.25rem, 1);
}

.footnote-ref {
	/*display: inline-block;*/

	background: rebeccapurple;
	color: white;

	padding: 0 0.5rem;
	margin: 0 0.1rem;
	border-radius: 0.5rem;

	text-decoration: none;

	&:hover, &:focus {
		background: darken(rebeccapurple, 30%);
	}

	sup {
		vertical-align: inherit;
		font-size: inherit;
		top: 0;
	}
}

	a.footnote-ref {
		color: white;

		&:hover {
			color: white;
		}
	}

h1, h2, h3, h4, h5, h6 {
	margin: (1.5 * $line-rem) 0 (0.5 * $line-rem);
}

	h1 {
		@include rhythm-font-size(1.563rem, 2);
	}

	h2 {
		@include rhythm-font-size(1.1rem, 1);
	}

	h3, h4, h5, h6 {
		@include rhythm-font-size(1rem, 1);
	}

hr {
	margin: $line-rem 0;
	border: none;

	border-top: 0.2rem solid rebeccapurple;
	margin-top: $line-rem - 0.2rem;
}

ol, ul {
	margin: 0;
	padding-left: $line-rem;

	li {
		// list-style-position: inside;
	}
}