// Debug:
body {
	// background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='29'> <line x1='0' y1='29' x2='5' y2='29' stroke='black' stroke-opacity='0.2'/></svg>") !important;
}

$base-font-size: 18px;
$line-height: 29px;
$line-rem: 1rem * $line-height / $base-font-size;
html, body {
	font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
	font-size: $base-font-size;
	line-height: $line-height / $base-font-size;
}

body {
	@include breakpoint(print) {
		font-size: 80%;
	}
}

// https://github.com/sass/sass/issues/533
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@mixin rhythm-font-size($size_rem, $line-height-lines: 1) {
	font-size: $size_rem;
	line-height: ($line-height-lines * $line-height) / (strip-units($size_rem) * $base-font-size);
}

a {
	color: $link-color;
	transition: all 0.1s;

	&:hover, &:focus {
		text-decoration: underline;

		color: $link-hover-color;
		transition: all 0s;
	}

	&:visited {
		color: $link-color;

		&:hover, &:focus {
			color: $link-hover-color;
		}
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

blockquote {
	border-left: 0.2rem solid $blockquote-color;
	margin: 0;

	background: transparentize($color: $blockquote-color, $amount: 0.9);
	padding: $line-rem;
	padding-left: $line-rem - 0.2rem;
}

code {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", "Monaco", "Courier New", serif;
	font-size: (0.9 * $base-font-size);
	background: $code-color;
	padding: 0.2rem;
}

p {
	margin: 0;
}

%reflows-typography {
	& + blockquote,
	& + p,
	& + ol,
	& + ul {
		margin-top: $line-rem;
	}
}

blockquote,
p,
ol,
ul,
.sidenote {
	@extend %reflows-typography;
}

.footnote-ref {
	background: $accent-color;
	color: white;

	padding: 0 0.5rem;
	margin: 0 0.1rem;
	border-radius: 0.5rem;

	text-decoration: none;

	&:hover, &:focus {
		background: darken($accent-color, 30%);
	}

	sup {
		vertical-align: inherit;
		font-size: inherit;
		top: 0;
	}
}

	a.footnote-ref {
		color: white;

		&:hover {
			color: white;
		}
	}

h1, h2, h3, h4, h5, h6 {
	margin: (1.5 * $line-rem) 0 (0.5 * $line-rem);
}

	h1 {
		@include rhythm-font-size(1.563rem, 2);
	}

	h2 {
		@include rhythm-font-size(1.1rem, 1);
	}

	h3, h4, h5, h6 {
		@include rhythm-font-size(1rem, 1);
	}

hr {
	margin: $line-rem 0;
	border: none;

	border-top: 0.2rem solid $accent-color;
	margin-top: $line-rem - 0.2rem;
}

ol, ul {
	margin: 0;
	padding-left: $line-rem;
}