$main-text: #111;
$main-background: #fee;

$deemphasized-text: rgba(0,0,0,0.6);

$accent-color: rebeccapurple;
$blockquote-color: #9f6dd0;
$code-color: rgba(0,0,0,0.1);

$link_color: #2f6bcc;
$link_hover_color: darken($link_color, 20%);

$dark-text: #fff;
$dark-background: #111;

$dark-deemphasized-text: darken($dark-text, 20%);