body.home {
	@include global_grid;

	header,
	section {
		grid-column: content;
	}

	.hero {
		grid-column: full;

		@include global_grid;
	}

		.hero__question {
			grid-column: content;

			@include breakpoint($begin-columns) {
				margin-top: 30vh;
				margin-bottom: 30vh;
			}
		}

			.speech_bubble {
				border: 0.3rem solid;
				border-radius: 3rem;

				padding: 0.5rem 1.5rem;
				position: relative;

				$triangle-height: 2rem;
				margin-bottom: $triangle-height;
				
				&:after,
				&:before {
					content: '';
					position: absolute;

					display: block;
					bottom: 0 - $triangle-height;
					left: 3rem;

					border-top: $triangle-height solid $main-background;
					border-left: 3rem solid transparent;
				}

					&:before {
						border-top-width: $triangle-height + 0.6rem;
						border-left-width: 3.6rem;
						border-top-color: inherit;
						margin-bottom: -0.6rem;
						left: 2.7rem;
					}
			}

		.hero__answer {
			grid-column: full;

			@include global_grid;

			background: $dark-background;
			color: $dark-text;

			padding: 2rem 0;

			& > * {
				grid-column: content;
			}
		}

			.hero__answer__super {
				font-size: 4rem;
				line-height: (3 * $line-height) / (4 * $base-font-size);

				@include breakpoint($begin-columns) {
					font-size: 10rem;
					line-height: (6 * $line-height) / (10 * $base-font-size);

					grid-row: 1;
				}

				padding: 0;
				margin: 0 0 $line-height 0;
			}

			.hero__answer__tagline {
				grid-column: sidenotes;
				@include breakpoint($begin-columns) {
					grid-row: 1;
				}
			}

	nav {
		margin-top: $line-height;
		grid-column: full;

		@include breakpoint($begin-columns) {
			display: flex;
			justify-content: space-between;

			a {
				flex-basis: 50%;
			}
		}
	}

	.block_link {
		display: block;

		color: $dark-text;
		text-decoration: none;

		background: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
		// Hacks for testing
		&:first-child {
			background: url(https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
		}

		margin: 0;
		padding: 5rem 1rem;
	}

		.block_link__link {
			text-decoration: underline;
		}

	footer {
		grid-column: full;
		grid-row: 5;
	}
}