body.home {
	@include global_grid;

	nav {
		grid-column: sidenotes;

		ul {
			padding: 0;
			// float: right;
			// width: 100%;
		}

		li {
			display: block;
			@include breakpoint($begin-columns) {
				// display: inline-block;
			}

			& + li {
				margin-top: (0.5 * $line-rem);

				@include breakpoint($begin-columns) {
					margin-top: 0;
				}
			}

			a {
				display: block;
				margin: (0.5 * $line-rem) 0;
				padding: (0.5 * $line-rem) $line-rem;
				background: rebeccapurple;
				border-radius: 1rem;

				color: white;
				text-align: center;
				text-decoration: none;

				&:hover, &:focus {
					background: darken(rebeccapurple, 30%);
					color: white;
				}
			}
		}
	}

	article {
		grid-column: full;
		@include breakpoint($begin-columns) {
			grid-row: 1;
		}

		@include global_grid;

		//margin-top: $line-rem;
		@include breakpoint($begin-columns) {
		//	margin-top: 0;
		}

		& > *:not(.pullquote):not(.tagline) {
			grid-column: content;
		}

		.title {
			font-size: 4rem;
			line-height: (3 * $line-height) / (4 * $base-font-size);

			@include breakpoint($begin-columns) {
				font-size: 10rem;
				line-height: (6 * $line-height) / (10 * $base-font-size);
				// line-height: 1;

				grid-row: 1;
			}

			padding: 0;
			margin: 0 0 $line-height 0;
		}

		.tagline {
			grid-column: sidenotes;
			@include breakpoint($begin-columns) {
				grid-row: 1;
			}
		}
	}

	footer {
		grid-column: full;
		grid-row: footer;
	}

	// aside {
	// 	grid-area: c;
	// }
}