body.page {
	@include global_grid;

	header {
		grid-template-columns: none;

		.content {
			grid-column: unset;
		}

		grid-column: sidebar;

		.menu_button {
			float: right;
		}

		nav {
			margin-top: $line-rem;
		}

		@include breakpoint($begin-columns) {
			grid-row: 1;

			li {
				list-style: none;
			}

			text-align: right;
		}

		@include breakpoint(print) {
			nav {
				display: none;
			}
		}
	}

	article {
		grid-column: full;
		@include breakpoint($begin-columns) {
			grid-row: 1;
		}

		@include global_grid;

		& > *:not(.pullquote):not(.hero):not(.sidebar):not(.sidenote) {
			grid-column: article;

			& > img {
				display: block;
				max-width: 70%;
				margin: 0 auto;
			}
		}

		& > .hero {
			height: 40rem;
			background-size: cover;
			grid-row: 1;
			grid-column: full;
		}

		.page_nav {
			padding: $line-rem 0;

			.next {
				float: right;
			}
		}

		.sidebar {
			grid-column: sidenotes;
			grid-row: 2 / span 3;
			
			margin-bottom: $line-rem;
			color: $deemphasized-text;
			@include breakpoint($begin-columns) {
				color: inherit;
				margin-bottom: 0;
			}
		}

		a[href^='http'] {
			&:hover, &:focus {
				&:after {
					background: $link-hover-color;
					color: $dark-text;
					border-color: $link-hover-color;
				}
			}

			&:after {
				content: '↗';
	
				display: inline-block;
				font-size: 0.5em;
				margin-left: 0.3em;
				padding: 0.1em;
	
				border: 0.1em solid;
				border-radius: 0.2em;
				vertical-align: super;
	
				line-height: 1;
			}
		}
	}

	footer {
		grid-column: full;
		grid-row: footer;
	}
}