body.page {
	@include global_grid;

	header {
		grid-template-columns: none;

		.content {
			grid-column: unset;
		}

		grid-column: sidebar;

		.menu_button {
			float: right;
		}

		nav {
			margin-top: $line-rem;
		}

		@include breakpoint($begin-columns) {
			grid-row: 1;

			li {
				list-style: none;
			}

			text-align: right;
		}

		@include breakpoint(print) {
			nav {
				display: none;
			}
		}
	}

	article {
		grid-column: full;
		@include breakpoint($begin-columns) {
			grid-row: 1;
		}

		@include global_grid;

		& > *:not(.pullquote):not(.hero):not(.sidebar):not(.sidenote) {
			grid-column: article;
		}

		& > .hero {
			height: 40rem;
			background-size: cover;
			grid-row: 1;
			grid-column: full;
		}

		.page_nav {
			padding: $line-rem 0; 

			.next {
				float: right;
			}
		}

		.sidebar {
			grid-column: sidenotes;
			
			margin-bottom: $line-rem;
			color: rgba(0,0,0,0.7);
			@include breakpoint($begin-columns) {
				color: inherit;
				margin-bottom: 0;
			}
		}
	}

	footer {
		grid-column: full;
		grid-row: footer;
	}
}