.alert {
	padding: (0.5 * $line-rem) $line-rem;
	margin: (0.5 * $line-rem) 0;

	&.warning {
		background: #ff5577;
	}

	&.info {
		background: #43ca79b5;

		a,
		a:visited {
			color: #0b20c7;

			&:hover, &:active {
				color: darken(#0b20c7, 20%);
			}
		}
	}
}