.menu_button {
	-webkit-appearance: none;

	background: none;
	border: none;

	color: inherit;
	font-size: 1rem;
	line-height: 1;

	margin: 0;
	padding: 0 1rem;

	@include breakpoint($begin-columns) {
		display: none;
	}
}

.menu_list {
	display: none;

	&.active {
		display: block;
	}

	position: absolute;
	top: $line-rem;
	bottom: 0;
	width: 100%;
	padding-top: $line-rem;

	background: #fee;

	@include breakpoint($begin-columns) {
		display: block;
		position: static;
		width: auto;
		padding-top: 0;
		background: none;
	}
}