.sidenote {
	grid-column: sidenotes;

	&:before,
	&:after {
		content: '';
		display: block;
		margin: $line-rem auto 0 auto;

		width: $line-rem;
		height: $line-rem;
		border-top: 0.1rem solid $deemphasized-text;
	}

		&:after {
			border-top: none;
			margin-top: 0;
			border-bottom: 0.1rem solid $deemphasized-text;
		}

	@include breakpoint($begin-columns) {
		margin-top: -1px;
		padding: 0;
		border-left: none;
		border-top: 1px solid $deemphasized-text;

		&:before,
		&:after {
			display: none;
		} 
	}

	color: $deemphasized-text;
	font-style: italic;
	@include rhythm-font-size(0.875rem, 1);

	blockquote {
		padding: 0.5 * $line-rem;
	}
}