.sidenote {
	grid-column: sidenotes;

	@include breakpoint($begin-columns) {
		// I'm under no delusions that this is robust.
		// Keep your sidenotes short please.
		margin-bottom: -50vh;
	}

	color: #444;
	font-style: italic;
	@include rhythm-font-size(0.875rem, 1);

	blockquote {
		padding: 0.5 * $line-rem;
	}
}