---
layout: raw
---
{{ content }}
<footer>
  <div class="content">
    <section>
      <h2>Warning</h2>
      <p>This content is targeted at most Internet users—to access your bank, online shopping, and Facebook.</p>
      <p>If you fear censorship or your life may be at risk if you are hacked, it is reasonable to take other precautions.</p>
      <p class="legalese">
        Also, this content is provided “as is”, without warranty of any kind,
        express or implied, including but not limited to the warranties of
        merchantability, fitness for a particular purpose and noninfringement.
        In no event shall the authors or copyright holders be liable for any
        claim, damages or other liability, whether in an action of contract,
        tort or otherwise, arising from, out of or in connection with this
        content or the use or other dealings in this content.
      </p>
    </section>
    <section>
      <h2>Content</h2>
      <p>This site is by <a href="https://ben.stolovitz.com/">Ben Stolovitz</a>. Its content is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Its code is licensed under <a href="https://choosealicense.com/licenses/agpl-3.0/">GNU AGPLv3</a>.</p>
      <p>Source code is available <a href="https://github.com/citelao/sensible-security">on GitHub</a>.</p>
    </section>
  </div>
</footer>