---
layout: default
---
<header>
  <div class="content">
    <em class="logo">
      {% if page.url == "/" %}
        Sensible Security
      {% else %}
        <a href="/">
          <svg
            version="1.1"
            height="18" 
            width="20"
            baseProfile="full"
            xmlns="http://www.w3.org/2000/svg">
              <polygon points="0,8 10,0 20,8" fill="currentColor" />
              <polygon points="2,8 2,18 8,18 8,11 12,11 12,18 18,18 18,8" fill="currentColor" />
          </svg> 
          Sensible Security
        </a>
      {% endif%}
    </em class="logo">
    {% include nav.html %}
  </div>
</header>
<article>
	<!-- <div src={{page.hero}} class="hero" style="background-image: url({{page.hero}})"></div> -->
	<h1>{{ page.title }}</h1>
	<aside class="sidebar">
		<strong>Reading time</strong>: {% include time_to_read.html %}
	</aside>
	<aside class="alert warning">
		<strong>Warning</strong>: this is not final content. It may change dramatically before release.
		Use with caution.
	</aside>
	{{ content }}
	<nav class="page_nav">
		{% if page.previous.url %} 
			<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
		{% endif %} 
		{% if page.next.url %} 
			<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a> 
		{% endif %} 
	</nav>
</article>