<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga_id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.ga_id}}');
    </script>

    <title>
      {{ page.title }}
      {% if page.title %} &#x2022; {% endif %}
      {{ site.title }}
      {% unless page.title %} &#x2022; {{ site.description }}{% endunless %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    {% seo title=false %}
  </head>
  <body class="{{ page.layout }}">
    {{ content }}

    <script async src="/js/main.js"></script>
  </body>
</html>